.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.title-bar
{
    background-color: #9E5007;
    border-radius: 50px;
    border: solid #ff9f1a;
    font-family: '微軟正黑體', serif;
    color: #FFFFFF;
    height: 100px;
    margin-bottom: 16px;
}

.content-bar
{
    margin: 0;
}
.category-list
{
    padding: 0;
    background-color: #9E5007;
    border-radius: 50px;
    border: solid #ff9f1a;
    font-family: '微軟正黑體', serif;
    color: #FFFFFF;
    text-align: center;
    list-style: none;
}

.category-list li
{
    line-height: 50px;
}

.category-list li a
{
    display: block;
    text-decoration: none;
}
