.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.title-bar
{
    background-color: #9E5007;
    border-radius: 50px;
    border: solid #ff9f1a;
    color: #FFFFFF;
    height: 100px;
    margin: 15px 0 16px 0;
}

.content-bar
{
    margin: 0;
}

.category-title
{
    color: #9E5007;
    text-align: center;
    box-shadow:0 0 20px #ff9f1a;
    border: #FFFFFF;
    border-radius: 50px;
    margin-bottom: 16px;
    line-height: 50px;
}

.category-list
{
    padding:16px 0;
    background-color: #9E5007;
    border-radius: 50px;
    border: solid #ff9f1a;
    text-align: center;
    list-style: none;
    margin: 0;
}

.category-list li
{
    line-height: 50px;
}

.category-list li a
{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.category-list li a:hover
{
    color: #000;
    border-radius: 50px;
    background-color: #ff9f1a;
}

.detail-button
{
    background-color: #9E5007;
    border-radius: 50px;
    border-style: none;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(20%,20%,40%,0.5);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    color: #FFFFFF;
}

.detail-button:hover
{
    background-color: #ff9f1a;
    color: #000;
    cursor: pointer;
}

.detail-button:active
{
    margin-top: 4px;
    margin-bottom: -4px;
    box-shadow: none;
}

.detail-button:focus
{
    outline: 0;
}

.product-list
{
    margin: 0;
}

.product
{
    margin-bottom: 16px;
    padding: 0;
    border: solid #9E5007;
    height: 100%;
}

.product div:nth-child(1)
{
    font-weight: bold;
    text-align: center;
}

.product div:nth-child(3)
{
    text-align: center;
}

*
{
    font-family: '微軟正黑體', serif;
}